
@{
    ViewData["Title"] = "Create Article";
}

<h1>Create article</h1>

<form asp-action="create" method="post">
    <div class="row">
        <div class="col">
            <label>
                Title:
                <input id="title" name="title" required />
            </label>
            <div id="container" style="height:300px;border:1px solid grey"></div>
            <label>
                Email:
                <input id="email" name="email" type="email" required />
            </label>
            <label>
                Names:
                <input id="names" name="names" required />
            </label>


            <div class="float-right">
                <button id="btn-preview" class="btn btn-outline-success" type="button" >Preview</button>
                <input type="submit" value="Create" class="btn btn-primary"  />
            </div>
        </div>
        <div class="col">
            <div><h3>Preview:</h3></div>
            <div id="preview"> </div>
        </div>
    </div>
</form>

<script src="~/lib/monaco-editor/dist/min/vs/loader.js"></script>

<script>

    var editor;
    require.config({ paths: { 'vs': '/lib/monaco-editor/dist/min/vs' } });
    require(['vs/editor/editor.main'], function () {
        var editorOptions = {
            value: '<div> Hello World article! </div>',
            language: 'html'
        };

        editor = monaco.editor.create(document.getElementById('container'), editorOptions);
    });

    document.getElementById('btn-preview').addEventListener('click', function () {
        var html = editor.getValue();
        var previewPanel = document.getElementById('preview');
        previewPanel.innerHTML = html;
    });
</script>