
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Success</h1>

<div>
    <p>
        Please check your inbox folder for new messages.
    </p>
    <p>
        You need to verify the request. Then the article will sent for approval.
    </p>
</div>

